%h1 Paintr

#selected-color.swatch

#color-controls
%input#color-input{type:'text'}
%button#add-color Add Color
%button#clear-palette Clear Pallete
%button#erase Erase
%button#clear-canvas Clear Canvas

%input#image-input{type:'text'}
%button#add-image Add Image
%button#remove-image Remove Image

#palette 

#image-palette

#canvas